version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/webapp-runner-9"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "tomcat.version"
        update-types: ["version-update:semver-major"]
    labels:
      - "skip changelog"
      - "tomcat 9"
      - "dependencies"
  - package-ecosystem: "maven"
    directory: "/webapp-runner-10"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "tomcat.version"
        update-types: ["version-update:semver-major"]
    labels:
      - "skip changelog"
      - "tomcat 10"
      - "dependencies"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "skip changelog"
      - "dependencies"
    groups:
      github-actions:
        update-types:
          - "minor"
          - "patch"
