name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  maven:
    name: "Execute build, run tests (Tomcat ${{ matrix.major-version }}, Java ${{ matrix.java-version }})"
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        java-version:
          - 11
        major-version:
          - 9
          - 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: ${{ matrix.java-version }}
      - run: "./mvnw --batch-mode clean verify package"
        working-directory: webapp-runner-${{ matrix.major-version }}

  version-check:
    name: "Check POM version constraints (Tomcat ${{ matrix.major-version }})"
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        major-version:
          - 9
          - 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 11
      - run: ../scripts/check-version.sh
        working-directory: webapp-runner-${{ matrix.major-version }}
